<header>
    <input type ="checkbox" name ="" id ="chk1">
    <div class="logo" href="/home">
        
    <img src="../../../assets/restaurant.png" class="logo_img">    
    </div>
        <ul>
            <li><a routerLink="/home" class="nav-link active" aria-current="page">Home</a></li>
            <li><a routerLink="/about" class="nav-link active" aria-current="page">About</a></li>
            <li><a routerLink="/contact" class="nav-link active" aria-current="page">Contact</a></li>
            <li><a routerLink="/menu-common" class="nav-link active" aria-current="page">Menu</a></li>             
        </ul>
        
        <button routerLink="/admin-login" class="nav-link active" aria-current="page" type="button" class="btn btn-outline-light" style="margin-right: 20px;">Admin Dashboard</button>
       
         
</header>
